<div class="container d-flex flex-column align-items-center justify-content-center">
  <h2><b>Sign up to your account</b></h2><br>
  <div class="card" style="width: 25rem">
    <div class="card-body mx-3 my-4">
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" />
          </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="email" class="form-control" />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" />
      </div>
      
      <button style="width: 100%" type="submit" class="btn btn-primary">
        SignUp
      </button>
    </div>
  </div>
</div>
